<!--h1>Biz Directory</h1>

<h2>There are {{ business_list.length }} businesses in the directory</h2>
 
 <h2>The first business is {{ business_list[0].name }}</h2>
 
 <div *ngFor="let business of business_list">
	 <p>Name: {{ business.name }} <br>
	 City: {{ business.city }} <br>
	 Reviews: {{ business.review_count }}
	 </p>
</div-->


<!--div class="jumbotron">
	<h1>Biz Directory</h1>
</div-->
<div class="container" style="margin-top:100px;">
	<div class="row">
		<div class="col-sm-12">
			<div *ngFor = "let business of webService.b.list | async"><!--webService.serviceStrut.b.list is the source-->
				<div class="card text-white bg-primary mb-3"
					[routerLink]="['/businesses', business._id]"
					style="cursor: pointer"><!--C1,19-->
					<div class="card-header">
						{{ business.business_name }}
					</div>
					<div class="card-body">
						@{{ business.business_address }}, {{ business.business_city }}, {{ business.business_postal_code }}
					</div>
					<div class="card-footer">
						{{ business.review_count }} reviews available
					</div>
					<div class="card-footer">
						{{ business.violation_count }} violations from {{ business.inspection_count }} inspections
					</div>
					<!--Could add more but nahh-->
				</div>
			</div>
		</div> <!-- col -->
	</div> <!-- row -->
	
	
	<nav aria-label="Page navigation example">
	  <ul class="pagination justify-content-center">
		<li class="page-item" style="cursor:pointer"
		  [ngClass]="{'active': pageNav.isCurrent, 'text-secondary': !pageNav.isPageObj, 'text-primary': !pageNav.isCurrent && pageNav.isPageObj}"
		  *ngFor = "let pageNav of webService.b.navPages" >
			<a class="page-link" (click)="changePage(pageNav)">{{pageNav.pageText}}</a>
		</li>
	  </ul>
	</nav>
	
</div> <!-- container -->