
<div class="container" style="margin-top:50px;">






  <div class="row">
		<div class="col-sm-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
        <li class="breadcrumb-item" *ngFor="let business of webService.b_id.list | async"><a [routerLink]="['/businesses', business._id]">{{business.business_name}}</a></li>
      <!--  <li class="breadcrumb-item" *ngIf="webService.b_id.asyncPath | async"><a href="{{webService.b_id.url}}">{{business.business_name}}</a></li>-->
        <li class="breadcrumb-item active">Inspections</li>
      </ol>


      <div *ngIf="authService.loggedIn" class="card">
        <div class="card-body">
          <h4 class="card-title">Add new inspection</h4>
            <form [formGroup]="theForm.i" (ngSubmit)="webService.i.onSubmit()">
              <div class="form-group">
                <input placeholder="Inspection ID"  type="text" id="in_id" name="in_id" class="form-control form-control-sm" formControlName="in_id" [ngClass]="{'error': webService.i.isInvalid('in_id')}">
              </div>
              <div class="form-group">
                <input placeholder="Inspection score"  type="text" id="in_score" name="in_score" class="form-control form-control-sm" formControlName="in_score" [ngClass]="{'error': webService.i.isInvalid('in_score')}">
              </div>
              <div class="form-group">
                <input placeholder="Inspection type"  type="text" id="in_type" name="in_type" class="form-control-sm form-control" formControlName="in_type" [ngClass]="{'error': webService.i.isInvalid('in_type')}">
              </div>
              <div *ngIf="webService.i.isIncomplete()" class="alert alert-dismissible alert-danger">
                <span>Complete all fields before submitting</span>
              </div>
    <!--          <span *ngIf="webService.i.isIncomplete()">You must complete all fields</span>-->
            <!--  <button *ngIf="!webService.i.isIncomplete()" type="submit" name="updating" data-value="{{webservice.i_id.path}} update" class="btn btn-primary">Update</button>-->
            <button *ngIf="!webService.i.isIncomplete()" type="submit" name="creating" class="btn btn-primary">New inspection</button>
            </form>
        </div>
      </div>


			<div *ngFor = "let inspection of webService.i.list | async"><!--C3, from michel email-->
				<div class="card text-white bg-primary mb-3"><!--[routerLink]="['/businesses', business._id]"-->
					<div class="card-header">
            <span class="badge badge-pill"
                  *ngIf="inspection.inspection_score"
                  [ngClass]="{'badge-success': 80 <= inspection.inspection_score, 'badge-warning': 60 <= inspection.inspection_score && 80 > inspection.inspection_score, 'badge-danger': 60 > inspection.inspection_score}">
              {{ inspection.inspection_score }}%
            </span>

						{{ inspection.inspection_type }} on {{ inspection.inspection_date | date: 'dd MMMM yyyy' }}

					</div>
					<div class="card-body">
						<p>Inspection {{ inspection.inspection_id }}:</p>
            <div *ngIf="authService.loggedIn" class="btn-group" role="group" aria-label="Inspector group">
              <button type="button" class="btn btn-warning" (click)="webService.deleteByURL(webService.i.url+'/'+inspection._id)">Add violation</button>
<!--              <button type="button" class="btn btn-info" (click)="webService.deleteByURL(webService.i.url+'/'+inspection._id)">Update</button>-->
              <button type="button" class="btn btn-danger" (click)="webService.deleteByURL(webService.i.url+'/'+inspection._id)">Remove</button>
            </div>
					</div>
          <div *ngIf="authService.loggedIn">
					<div class="card-footer bg-secondary" *ngIf="inspection.violation_count == 0">
						Identifed no violations
					</div>
					<div class="card-footer bg-secondary" *ngIf="inspection.violation_count != 0">
            <h5>Identifed {{ inspection.violation_count }} violations:</h5>
            <div class="card"
              *ngFor = "let violation of inspection.violations"
              [ngClass]="{'bg-danger': violation.risk_category == 'High Risk', 'bg-warning': violation.risk_category == 'Moderate Risk', 'bg-info': violation.risk_category == 'Low Risk'}">
              <div class="card-header" >
                <h4 class="card-title">{{violation.risk_category}}</h4>
              </div>
              <div class="card-body">
                <p class="card-text">{{ violation.violation_description }}</p>
                <div class="btn-group" role="group" aria-label="Violation actions">
                  <button type="button" class="btn btn-success" (click)="webService.deleteByURL(webService.i.url+'/'+inspection._id+'/violations/'+violation._id)">Resolve</button>
<!--                  <button type="button" class="btn btn-secondary" (click)="webService.deleteByURL(webService.i.url+'/'+inspection._id+'/violations/'+violation._id)">Edit</button>-->
                </div>
              </div>
            </div>
          </div>

            <!---->
            <!--form [formGroup]="theForm.i" (ngSubmit)="onViolationSubmit()">
              <div class="form-group">
                <label for="v_name">Violation ID</label>
                <input type="text" id="v_name" name="v_name" class="form-control" formControlName="v_name" [ngClass]="{'error': webService.v.isInvalid('v_name')}">
              </div>
              <div class="form-group">
                <label for="v_desc">Description</label>
                <textarea id="v_desc" rows="3" name="v_desc" class="form-control" formControlName="v_desc" [ngClass]="{'error': webService.v.isInvalid('v_desc')}"></textarea>
              </div>
              <div class="form-group">
                <label for="v_risk">Risk</label>
                <input type="text" id="v_risk" name="v_risk" class="form-control" formControlName="v_risk" [ngClass]="{'error': webService.v.isInvalid('v_risk')}">
              </div>
              <span *ngIf="webService.v.isIncomplete()">You must complete all fields</span>
              <button *ngIf="!webService.v.isIncomplete() && form_v_id" type="submit" name="updating" data-value="{{webservice.v_id.path}} update" class="btn btn-primary">Update {{webservice.v_id.lastID()}}</button>
              <button *ngIf="!webService.v.isIncomplete() && !form_v_id" type="submit" name="creating" data-value="{{webservice.i_id.path}} delete" class="btn btn-primary">New violation on {{webservice.i_id.lastID()}}</button>
            </form>-->
					</div>
				</div>
			</div>
		</div> <!-- col -->
	</div> <!-- row -->
</div> <!-- container -->



<!--div class="row">
	<div class="col-sm-12">
		<div class="card bg-light mb-3"
		*ngFor = "let violation of webService.v.list | async"
		[ngClass]="{'bg-danger': violation.risk_category == 'High Risk', 'bg-warning': violation.risk_category == 'Moderate Risk', 'bg-light': violation.risk_category == 'Low Risk'}">
			<div class="card-header" >
				{{violation.risk_category}}
			</div>
			<div class="card-body">
				{{ violation.violation_description }}
			</div>
			<div class="card-footer" >
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
				  <label class="btn btn-outline-success">
					<input type="radio" name="options" id="upVote"  autocomplete="off" checked
					  (click)="webService.vote()">
					    TODO, have ADDRESSED check box
				  </label>
				</div>
			</div>
		</div>
	</div>
</div-->

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item" style="cursor:pointer"
	  *ngFor = "let pageNav of webService.i.navPages"
	  [ngClass]="{'active': pageNav.isCurrent, 'text-secondary': !pageNav.isPageObj, 'text-primary': !pageNav.isCurrent && pageNav.isPageObj}">
		<a class="page-link" (click)="changePage(pageNav)">{{pageNav.pageText}}</a>
	</li>
  </ul>
</nav>

<!--div *ngIf="authService.loggedIn" class="container"-->
<!--div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h2>Violations</h2>
			<form [formGroup]="theForm.v" (ngSubmit)="webService.v.onSubmit()">
				<div class="form-group">
					<label for="v_name">Violation ID</label>
					<input type="text" id="v_name" name="v_name" class="form-control" formControlName="v_name"
						[ngClass]="{'error': webService.v.isInvalid('v_name')}"
					>
				</div>
				<div class="form-group">
					<label for="v_desc">Description</label>
					<textarea id="v_desc" rows="3" name="v_desc" class="form-control" formControlName="v_desc"
						[ngClass]="{'error': webService.v.isInvalid('v_desc')}"
					></textarea>
				</div>
				<div class="form-group">
					<label for="v_risk">Risk</label>
					<select id="v_risk" name="v_risk" class="form-control" formControlName="v_risk">
						<option value="Low Risk">Low Risk</option>
						<option value="Moderate Risk">Moderate Risk</option>
						<option value="High Risk">High Risk</option>
					</select>
				</div>
				<span *ngIf="webService.v.isIncomplete()">You must complete all fields</span>
				<button *ngIf="!webService.v.isIncomplete()" type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</div>

<div *ngIf="!authService.loggedIn" class="container">
	<div class="row">
		<div class="col-sm-12">
			<h2>Please login to review this business</h2>
		</div>
	</div>
</div-->
